<%= form_with(model: @post, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>投稿確認</title>
    </head>
    <body>
      <header>
        <h3 class =ok>これで大丈夫？</h3>
      </header>
      <main>
        <div class="post_content">
          <%= form.label :content %>
          <%= form.text_field :content %>
        </div>
        <%= form.submit %>
      <% end %>
      </main>
      <footer>
        <%= link_to "ブログ一覧画面にもどる", posts_path %>
      </footer>
    </body>
  </html>
