<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>確認</title>
  </head>
  <body>
    <header>
      <h3>以下の内容で、送信する。</h3>
    </header>
    <main>
      <%= form_with(model: @post, url:posts_path,local: true) do |form| %>
      <%= form.hidden_field :content %>
        <p>本文:<%= @post.content %></p>
      <%= form.submit  "登録する" %>
    </main>
    <footer>
      <%= form.submit "戻る", name: 'back' %>
    </footer>
  </body>
</html>
<% end %>
